section{
    font-family:calibri;
    background-color: lightgray;
    padding: 10px;
    font-size: 20px;
}
.first{
    background-color: gray;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
}
.second{
    background-color: gray;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
}
.third{
    background-color: gray;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
}